<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <h2>Carrito ID: {{cart._id}}</h2>
    <ul>
      {{#each cart.products}}
        <li>
          <strong>Producto ID:</strong>
          {{productId}}
          <strong>Cantidad:</strong>
          {{quantity}}
        </li>
      {{/each}}
    </ul>
  </body>
</html>